<div class="container align-items-center">
  <h5 style="color:orange;">
    Login Form Games Store!
    
  </h5>
      <form class="example-form" class="row align-items-center">
        <div class="col-lg-8">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter your name" name="usename" [(ngModel)] ="username">
          </mat-form-field>
        </div>
        <div class="col-lg-8">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
          </mat-form-field>
        </div>
        <div class="col-lg-8">
            
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      <span *ngIf="show"> 
        <button mat-button color="accent">Login success !!</button>
      </span>
        </div>
  
      
  
  </form>
  

</div>
