
<section class="vh-100 " style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center center">
              <h2 fxFlex="80" class="mb-5">Sign in</h2>
              <div class="col-12" fxLayoutAlign="center center" >
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>User Name</mat-label>
                  <input matInput placeholder="Enter your name" name="usename" [(ngModel)] ="username">
                </mat-form-field>
              </div>
              <div class="col-12" fxLayoutAlign="center center">
                <mat-form-field  appearance="outline" fxFlex="100">
                  <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                
              </div>
                
            <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4" >
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
              </div>
            </div>
        
            <div class="col forgot-password" style="width: 100%" >
              <!-- Simple link -->
              <a  href="#!">Forgot password?</a>
            </div>
          </div>
        
          <!-- Submit button -->
          <button class="btn btn-lg btn-block text-white" type="submit" mat-raised-button style="background-color: #0d6efd;" (click)="submit()">LOGIN</button>
        
        
          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a routerLink="/register">Register</a></p>
            <p>or sign up with:</p>
            <hr class="my-4">
        
            <button class="btn btn-lg btn-block text-white" mat-raised-button style="background-color: #dd4b39;"
                      type="submit"><fa-icon [icon]="faGoogle"></fa-icon> Sign in with google</button>
        
            <button class="btn btn-lg btn-block text-white" mat-raised-button  style="background-color: #3b5998;"
                      type="submit"><fa-icon [icon]="faFacebook"></fa-icon> Sign in with facebook</button>
            <button class="btn btn-lg btn-block mb-2 text-white" mat-raised-button  style="background-color: #010713;"
                      type="submit"><fa-icon [icon]="faGithub"></fa-icon> Sign in with Github</button>
        
           
          </div>
           
          
        
            
        
        </form>

          </div> 
          
        </div>
      </div>
    </div>
  </div>
</section>  

    
