<div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!isGameAdded">
        <div class="form-group">
          <label for="title">Name</label>
          <input type="text" class="form-control" id="title" required [(ngModel)]="game.name" name="name" />
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <input class="form-control" id="description" required [(ngModel)]="game.description" name="description" />
          <label for="platform">Platform</label>
          <input class="form-control" id="platform" required [(ngModel)]="game.platform" name="platform" />
          <label for="genre">Genre</label>
          <input class="form-control" id="genre" required [(ngModel)]="game.genre" name="genre" />
          <label for="price">Price</label>
          <input class="form-control" id="price" required [(ngModel)]="game.price" name="price" />
          <label for="rating">Rating</label>
          <input class="form-control" id="rating" required [(ngModel)]="game.rating" name="rating" />
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
        
        </div>

  
        <button (click)="addGame()" class="btn btn-success">Create</button>
      </div>
  
      <div *ngIf="isGameAdded">
        <h3>New Games added!</h3>
        <button class="btn btn-success" (click)="newGame()"> + Add More</button>
      </div>
    </div>
  </div>