
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.developer {
  border: 2px solid blue;
  width: 275px;
}
.error{
  color: red;
} 
.submitted{
  color: green;
  font-size: 20px;
} 
#title {
  content: 'This is your heading';
  background-color: rgba(227, 217, 217, 0.916);
  width: 100%;
  display: block;
  padding: 20px 30px;
  color: rgb(15, 15, 15);
  font-family: Arial;
  font-size: 28px;
  text-align: center;
  margin-bottom: 0%;


}
#forms{
  margin-top: auto;
  background-color: white;
  padding: 8px 8px 0px 8px;
  border: 1px solid rgb(51, 44, 44);
}
