
  <div fxLayoutGap="1%" fxLayout="row">
    <mat-form-field class="search-form">
      <input matInput placeholder="Search Picture" type="text" [(ngModel)]="searchName">
    </mat-form-field>
    <button class="button-search" button="submit" mat-raised-button color="primary" (click)="searchByName()">Search</button>
  </div>
  

  <div fxLayout="row" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card class="card-picture" *ngFor="let game of games">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="60%">{{game.name}}</span>
        <mat-icon fxFlex="15%" routerLink="/games/{{game.id}}">mode_edit</mat-icon>
        <mat-icon fxFlex="15%" (click)="deleteGame(game.id)">delete</mat-icon>
      </mat-card-title>
      <img mat-card-image [width]="200" [height]="250" [src]="game.image" fxLayoutGap="0.5%">
      <mat-card-footer >
        <span class="badge bg-primary">{{game.platform}}</span>
        <span  class="badge bg-success">{{game.genre}}</span>
      </mat-card-footer>
    </mat-card>
  </div>


